.main-menu__item.office {
  display: inline-block;
  height: 43px;
  position: relative;
}
.office-menu {
  background-color: rgba(0,0,0,.7);
  box-sizing: border-box;
  display: none;
  height: 330px;
  position: absolute;
  left: 0;
  padding: 15px;
  top: 43px;
  width: 350px;
}
.main-menu__item.office:hover .office-menu {
  display: block;
}
.office-menu__item {
  box-sizing: border-box;
  display: inline-block;
  height: 100px;
  padding: 10px 0;
  position: relative;
  width: 100px;
}
.om-img {
  background-color: transparent;
  background-image: url(/images/menu_sprites.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 18px;
  height: 48px;
  width: 48px;
}
.om-img.excel {
  background-position: -49px 0;
}
.om-img.pp {
  background-position: -98px 0;
}
.om-img.on {
  background-position: -196px 0;
}
.om-img.sway {
  background-position: -391px 0;
}
.om-img.docs {
  background-position: -439px 0;
}
.om-img.od {
  background-position: -147px 0;
}
.om-img.calendar {
  background-position: -194px 0;
}
.om-img.contacts {
  background-position: -343px 0;
}
.off-desc {
  font-size: 12px;
  line-height: 12px;
  padding-left: 10px;
  position: absolute;
  text-align: center;
  top: 58px;
  width: 100%;
}
