* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/bing/images/background.jpg");
  background-size: cover;
  height: 100vh;
  font-family: Tahoma,Arial,Verdana,sans-serif;
  width: 100%;
}
.big-container {
  background-color: transparent;
  height: 100vh;
  transition: background-color 200ms linear;
}
.big-container.overlay {
  background-color: rgba(0, 0, 0, .55);
}
.top-menu {
  background-color: #333333;
  display: flex;
  height: 43px;
  justify-content: space-between;
}
.main-menu {
  display: inline-block;
  margin-left: 28px;
}
.main-menu__item {
  display: inline;
  color: #acacac;
}
.main-menu__item a {
  color: #acacac;
  font-size: 13px;
  font-weight: 400px;
  line-height: 40px;
  margin: 0 18px;
  text-decoration: none;
}
.main-menu__item.selected a {
  color: #0c8484;
}
.main-menu__item a:hover {
  color: white;
}
.search-box {
  position: absolute;
  top: 19%;
  left: 8%;
  width: 1028px;
  margin: 0;
  z-index: 9;
}
.bing-logo {
  background-image: url("/bing/images/second_sprites.png");
  display: inline-block;
  width: 132px;
  height: 52px;
}
.query-form {
  display: flex;
  align-items: flex-end;
}
.query-input {
  background-color: #fff;
  box-sizing: border-box;
  font-size: 16px;
  height: 45px;
  margin: 6px 1px 0 21px;
  padding: 0 4px 0 9px;
  width: 500px;
}
.submit-btn {
  background: #0c8484 url("/bing/images/second_sprites.png") no-repeat;
  background-position: -169px -63px;
  border: 8px solid #0c8484;
  cursor: pointer;
  height: 45px;
  vertical-align: top;
  width: 45px;
}
.footer {
  background-color: #333;
  bottom: 0;
  height: 35px;
  left: 0;
  position: absolute;
  text-align: right;
  width: 100%;
}
.footer-menu {
  padding-right: 21px;
  position: relative;
  top: 5px;
}
.footer-menu__item {
  display: inline;
}
.footer-menu__item .link {
  color: #666;
  font-size: 13px;
  margin: 0 10px;
  text-decoration: none;
}
.footer-menu__item .link:hover {
  text-decoration: underline;
}
.footer-menu__item:not(:last-child) .link:after {
  bottom: 1px;
  content: "|";
  left: 13px;
  position: relative;
}
.footer-menu__item .link.comments {
  color: #999;
}
.user-menu {
  display: inline-block;
}
.user-menu__item {
  display: inline;
}
.user-menu__item .link {
  color: #acacac;
  font-size: 13px;
  line-height: 40px;
  padding: 0 10px;
  text-decoration: none;
}
.preferences-icon {
  background: url("/bing/images/second_sprites.png") no-repeat;
  background-position: -192px -149px;
  background-size: 241px 223px;
  border: none;
  display: inline-block;
  height: 16px;
  margin: 0 42px 15px 9px;
  position: relative;
  top: 3px;
  vertical-align: bottom;
  width: 20px;
}
.user-icon {
  background: url("/bing/images/second_sprites.png") no-repeat;
  background-color: #555;
  background-position: -6px -116px;
  background-size: 193px 179px;
  border: none;
  border-radius: 50%;
  display: inline-block;
  height: 32px;
  position: relative;
  top: -2px;
  vertical-align: bottom;
  width: 32px;
}
.photo-credit__list:hover .photo-info {
  display: inline-block;
}
.photo-credit__list {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.photo-credit__button {
  cursor: pointer;
  display: inline;
  height: 40px;
  margin-left: -4px;
  width: 40px;
}
.photo-credit__icon {
  background: url("/bing/images/second_sprites.png") no-repeat;
  background-color: rgba(34,34,34,.75);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
}
.photo-credit__icon.camera {
  background-position: -84px -98px;
}
.photo-credit__icon.left {
  background-position: -122px -57px;
}
.photo-credit__icon.right {
  background-position: -85px -139px;
}
.photo-info {
  width: 260px;
  height: 178px;
  position: absolute;
  display: inline-block;
  background-color: rgba(0,0,0,.6);
  bottom: -5px;
  right: -20px;
}
.photo-info {
  display: none;
  list-style: none;
}
.photo-info__author {
  color: #aaa;
  font-family: Arial,Helvetica,Sans-Serif;
  font-size: 13px;
  margin: 5px 15px 0;
}
.photo-info__description {
  color: #ddd;
  font-family: Arial,Helvetica,Sans-Serif;
  font-size: 22px;
  font-weight: 100;
  margin: 15px 15px 0;
}
